.novelty {
  background-color: $beige;

  padding: 75px 0 85px 0;
}

.novelty__wrapper {
  padding: 60px 0;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;

  display: flex;

  @media (max-width: $lg) {
    flex-wrap: wrap;
  }
}

.novelty__title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;

  margin: 0 0 30px;
}
