.novelty-info {
  @media (max-width: $lg) {
    max-width: 540px;
    margin: 0 auto 60px;
  }
}

.novelty-info__title {
  max-width: 300px;
  color: $dark-gray;

  margin: 0 0 30px;
}

.novelty-info__text {
  font-size: 14px;
  line-height: 150%;
  color: $dark-gray;

  margin: 0 0 30px;
}
