.tasting {
  background-color: $dark-gray;
  padding: 130px 0 100px 0;
}

.tasting__wrapper {
  border: 3px solid $silver;
  padding: 105px 0 80px 0;

  position: relative;
}

.tasting__block {
  max-width: 540px;
  margin: 0 auto;
}

.tasting__title {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  padding: 10px 60px 40px 60px;
  margin: 0;

  background-color: $dark-gray;
  color: $white;
  
  @media (max-width: $lg) {
    white-space: nowrap;
  }
}

.tasting__text {
  font-size: 16px;
  line-height: 150%;
  color: $white;
  text-align: center;

  margin: 0 0 80px;
}

.tasting__decor-element {
  position: absolute;

  &--grape {
    top: -28px;
    left: -33px;
  }

  &--barrel {
    top: -28px;
    right: -54px;
  }

  @media (max-width: $lg) {
    display: none;
  }
}
